@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  font-size: 16;
  padding: 12;
  border-radius: 6;
}

.btn-primary {
  background-color: #4F46E5;
  color: white;
}

.btn-secondary {
  background-color: #6B7280;
  color: white;
}

.btn-outline {
  background-color: transparent;
  border-width: 1;
  border-color: #4F46E5;
  color: #4F46E5;
}